<ng-container *ngIf="playerStats && playerId">
    <div class="main pt-0 pb-0 mt-0 mb-0">
      <mat-card>
        <div class="title">
            <div class="playerImageCircle"></div>
            <img src="{{ playerId.PhotoUrl }}" class="playerLogo" alt="{{ playerStats.Name }}" title="{{ playerStats.Name }}">
            <h1>
              {{ playerStats.Name }}
            </h1>
          </div>
        <mat-card-content>
          <h2>Per Game Statistics</h2>
            <canvas baseChart
              [datasets]="radarChartData"
              [options]="radarChartOptions"
              [labels]="radarChartLabels"
              [type]="radarChartType">
            </canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>