<ng-container *ngIf="filterPlayers && season">
  <mat-form-field class="searchButton" appearance="standard">
    <input matInput autocomplete="off" placeholder="Search Players" (keyup)="searchPlayers($event)" [(ngModel)]="searchPlayer">
  </mat-form-field>
  <div class="playercard">
    <mat-card *ngFor="let player of pageSlice">
      <mat-card-content>
        <a class="playerscontent" [routerLink]="['/players', season.Season, player.PlayerID]">
          <div class="matlistitems">
            <div class="playerImageCircle"></div>
            <img class="playerimage" src="{{ player.PhotoUrl }}" alt="{{ player.FirstName }} {{ player.LastName }}"
              title="{{ player.FirstName }} {{ player.LastName }}">
            <div class="matline">
              <div>
                {{ player.LastName }}
              </div>
              <div>
                {{ player.FirstName }}
              </div>
              <div>
                {{ player.Team }}
              </div>
              <div>
                N°{{ player.Jersey }}
              </div>
            </div>
          </div>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-paginator [length]="pageLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="OnPageChange($event)">
    </mat-paginator>
  </div>
</ng-container>
