/* For Mobile Portrait View */
@media screen and (min-device-width: 320px) and (max-device-width: 365px) and (orientation: portrait) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 7px 7px 7px 3px !important;
  }
  
  mat-card-content {
    padding: 0.3em 0.3em 0.3em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 25px !important;
    height: 25px !important;
    margin-top: -2px !important;
  }
  
  .playerimage {
    height: 25px !important;
    width: 19px !important;
    margin: -3px 0 0 3px !important;
  }
  
  .matline {
    font-size: x-small !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 0.3em 0 0.3em 0 !important;
  }
  
  .mat-paginator {
    font-size: x-small !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: x-small !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-paginator-icon {
    width: 15px !important;
  }
}

@media screen and (min-device-width: 370px) and (max-device-width: 380px) and (orientation: portrait) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 7px 7px 7px 3px !important;
  }
  
  mat-card-content {
    padding: 0.3em 0.3em 0.3em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 25px !important;
    height: 25px !important;
    margin-top: -2px !important;
  }
  
  .playerimage {
    height: 25px !important;
    width: 19px !important;
    margin: -3px 0 0 3px !important;
  }
  
  .matline {
    font-size: x-small !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 0.3em 0 0.3em 0 !important;
  }
  
  .mat-paginator {
    font-size: x-small !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: x-small !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-paginator-icon {
    width: 15px !important;
  }
}

@media screen and (min-device-width: 380px) and (max-device-width: 395px) and (orientation: portrait) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 7px 7px 7px 3px !important;
  }
  
  mat-card-content {
    padding: 1em 0.3em 1em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 25px !important;
    height: 25px !important;
    margin-top: -2px !important;
  }
  
  .playerimage {
    height: 25px !important;
    width: 19px !important;
    margin: -3px 0 0 3px !important;
  }
  
  .matline {
    font-size: small !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 0.3em 0 0.3em 0 !important;
  }
  
  .mat-paginator {
    font-size: x-small !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: x-small !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-paginator-icon {
    width: 15px !important;
  }
}

@media screen and (min-device-width: 400px) and (max-device-width: 540px) and (orientation: portrait) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 7px 7px 7px 3px !important;
  }
  
  mat-card-content {
    padding: 1em 0.3em 1em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 25px !important;
    height: 25px !important;
    margin-top: -2px !important;
  }
  
  .playerimage {
    height: 25px !important;
    width: 19px !important;
    margin: -3px 0 0 3px !important;
  }
  
  .matline {
    font-size: small !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 0.3em 0 0.3em 0 !important;
  }
  
  .mat-paginator {
    font-size: x-small !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: x-small !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-paginator-icon {
    width: 15px !important;
  }
}

@media screen and (min-device-width: 550px) and (max-device-width: 900px) and (orientation: portrait) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 10px !important;
  }
  
  mat-card-content {
    padding: 1em 0.3em 1em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 50px !important;
    height: 50px !important;
    margin-top: -6px !important;
  }
  
  .playerimage {
    height: 50px !important;
    width: 45px !important;
    margin: -8px 0 0 5px !important;
  }
  
  .matline {
    font-size: x-large !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 1em 0 1em 0 !important;
  }
  
  .mat-paginator {
    font-size: medium !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: medium !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 11px;
  }

  ::ng-deep .mat-paginator-icon {
    width: 25px !important;
  }
}

@media screen and (min-device-width: 901px) and (max-device-width: 920px) and (orientation: portrait) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 7px 7px 7px 3px !important;
  }
  
  mat-card-content {
    padding: 1em 0.3em 1em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 25px !important;
    height: 25px !important;
    margin-top: -2px !important;
  }
  
  .playerimage {
    height: 25px !important;
    width: 19px !important;
    margin: -3px 0 0 3px !important;
  }
  
  .matline {
    font-size: small !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 0.3em 0 0.3em 0 !important;
  }
  
  .mat-paginator {
    font-size: x-small !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: x-small !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-paginator-icon {
    width: 15px !important;
  }
}

@media screen and (max-device-width: 1020px) and (orientation: landscape) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 10px !important;
  }
  
  mat-card-content {
    padding: 1em 0.3em 1em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 50px !important;
    height: 50px !important;
    margin-top: -6px !important;
  }
  
  .playerimage {
    height: 50px !important;
    width: 45px !important;
    margin: -8px 0 0 5px !important;
  }
  
  .matline {
    font-size: x-large !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 1em 0 1em 0 !important;
  }
  
  .mat-paginator {
    font-size: medium !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: medium !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 11px;
  }

  ::ng-deep .mat-paginator-icon {
    width: 25px !important;
  }
}

@media screen and (min-device-width: 1020px) and (max-device-width: 1368px) and (orientation: landscape) {
  mat-card {
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 10px !important;
  }
  
  mat-card-content {
    padding: 1em 0.3em 1em 0.3em !important;
    margin-bottom: -10px !important;
  }
  
  .playerImageCircle {
    width: 50px !important;
    height: 50px !important;
    margin-top: -6px !important;
  }
  
  .playerimage {
    height: 50px !important;
    width: 45px !important;
    margin: -8px 0 0 5px !important;
  }
  
  .matline {
    font-size: x-large !important;
    justify-content: space-evenly !important;
    margin-left: 5px !important;
  }
  
  .searchButton {
    margin: 16px 7% 16px 7% !important;
  }
  
  .playercard {
    margin: 16px 7% 16px 7% !important;
  }
  
  ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding: 1em 0 1em 0 !important;
  }
  
  .mat-paginator {
    font-size: medium !important;
  }

  ::ng-deep .mat-paginator-range-label {
    margin: 0 !important;
  }

  ::ng-deep .mat-paginator-container {
    font-size: medium !important;
    padding: 0 8px 0 8px !important;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 11px;
  }

  ::ng-deep .mat-paginator-icon {
    width: 25px !important;
  }
}

.playercard {
  margin-top: 1em;
  margin: 16px 15% 16px 15%;
}

.playerCardContainer {
  overflow-y: auto;
}

.playerImageCircle {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  position: absolute;
  background: #fdfefe;
}

mat-card {
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
  }
  
  color: #FDFEFE;
  margin-bottom: 16px;
  margin-top: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
}

.searchButton {
  background: #424242;
  margin: 16px 15% 16px 15%;
  width: -webkit-fill-available;
  display: block;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
  padding-bottom: .75em;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-input-element {
  caret-color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: aqua;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-infix {
  border-top: 0;
  padding-left: 20px;
}

h1 {
  margin: 0;
}

mat-list-item {
  &:hover {
    background-color: #c7c1c14b;
  }
  
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 0;
  border-bottom: 1px solid #FDFEFE;
}

a {
  color: #FDFEFE;
  text-decoration: none;
  width: 100%;
}

.playerscontent {
  font-size: 25px;
}

.matlistitems {
  display: inline-flex;
  width: 100%;
}


.playerimage {
  border-radius: 50%;
  height: 85px;
  width: 70px;
  z-index: 1;
  margin: -3px 0 0 11px;
}

.matline {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

mat-paginator {
  border-radius: 5px;
}

::ng-deep .mat-paginator-container {
  justify-content: center !important;
  padding: 0 8px 0 20px !important;
}
