/* For Desktop View */
@media screen and (min-width: 1024px) {
    body {
      height: auto;
      width: auto;
    }
  }

  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    body {
        height: auto;
        width: auto;
    }
  }

  /* For Mobile Portrait View */
  @media screen and (max-device-width: 540px)
  and (orientation: portrait) {
    body {
        height: auto !important;
        width: auto !important;
        background-color: #FDFEFE !important;
    }
    .mat-sidenav {
        width: 7em !important;
        // margin: 3.47em 0 -0.4em 0;
        // max-height: fit-content;
    }
    .mat-drawer-container {
        // position: static;
        background-color: #212121 !important;
    }
    // .title {
    //     font-size: 1em !important;
    //     color: #FDFEFE;
    //     text-decoration: none;
    // }

    // .accountContainer {
    //     text-align: center;
    //     margin-top: 1em;
    // }

    .userIcon {
        font-size: 3em !important;
        margin-right: 25px !important;
    }

    h3 {
        font-size: smaller !important;
        margin: 0 0 -10px 0 !important;
    }
    .button {
        line-height: 0 !important;
    }

    .firstLinkContainer {
        margin-top: 2em !important;
        text-align: center !important;
        font-weight: bold !important;
        font-size: large !important;
    }

    .linkContainer {
        display: block !important;
        padding-left: 0 !important;
    }

    .linkName {
        padding-left: 0 !important;
        font-size: small !important;
    }

    .mat-toolbar-single-row {
        height: 50px !important;
    }

    .icons {
        padding-right: 0px !important;
    }
  }

  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
    body {
        height: auto;
        width: auto;
    }
  }

  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {
    body {
        height: auto;
        width: auto;
    }
  }

  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        height: auto;
        width: auto;
    }
  }

  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        height: auto;
        width: auto;
    }
  }

  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
    body {
        height: auto;
        width: auto;
    }
  }

.primary {
    width: 100%;
}

.title {
    font-size: 1.5em;
    color: #FDFEFE;
    text-decoration: none;
}

.accountContainer {
    text-align: center;
    margin-top: 1em;
}

.userIcon {
    font-size: 5em;
    margin-right: 50px;
}

.button {
    background-color: #212121;
    color: white;
    border-color: #212121;
    border-style: solid;
    margin-right: 1em;
}

.firstLinkContainer {
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.linkContainer {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    margin-top: 1em;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    padding-left: 15%;
}

.link {
    color: #FDFEFE;
    text-decoration: none;
}

mat-sidenav {
    width: 15em;
    background-color: #212121;
    border-top: 2px solid grey;

}

mat-sidenav-content {
    background-color: #FDFEFE;
    overflow: hidden;
}

p {
    padding-top: 3px;
}

.mat-typography h4 {
    margin: 0 0 0 !important;
}

.icons {
    padding-right: 9px;
}

.linkName {
    padding-left: 3px;
    margin: 0;
}
