<mat-toolbar>
  <button class="button" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="title">
    <strong>NBA STATS</strong>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #snav mode="side" opened="true">
    <div class="accountContainer">
      <mat-icon class="userIcon">account_circle</mat-icon>
      <h3>Adrien Merignac</h3>
    </div>
    <a routerLink="/" class="link">
      <div class="linkContainer">
        <mat-icon class="icons">home</mat-icon>
        <h4 class="linkName">
          Home
        </h4>
      </div> 
    </a>
    <a routerLink="/teams" class="link">
      <div class="linkContainer">
        <mat-icon class="icons">people</mat-icon>
        <h4 class="linkName">
          NBA Teams
        </h4>
      </div> 
    </a>
    <a routerLink="/players" class="link">
      <div class="linkContainer">
        <mat-icon class="icons">person</mat-icon>
        <h4 class="linkName">
          NBA Players
        </h4>
      </div> 
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

