.primary {
    width: 100%;
}

.title {
    font-size: 1.5em;
    color: #FDFEFE;
    text-decoration: none;
}

.link {
    color: rgba(253, 254, 254, 0.548);
    padding-left: 2em;
    text-decoration: none;
}