.primary {
    width: 100%;
}

.title {
    font-size: 1.5em;
    color: #FDFEFE;
    text-decoration: none;
}

.button {
    background-color: #212121;
    color: white;
    border-color: #212121;
    border-style: solid;
    margin-right: 1em;
}

.firstLinkContainer {
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.linkContainer {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    margin-top: 1em;
}

.link {
    color: #FDFEFE;
    text-decoration: none;
}

mat-sidenav {
    width: 10em;
    background-color: #212121;
    border-top: 2px solid grey;

}

mat-sidenav-content {
    background-color: #FDFEFE;
}