.main {
    margin-top: 1em;
}

mat-card {
    color: #FDFEFE;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
}

.mat-card-title {
    font-size: 10px;
    margin-bottom: 0;
}

.westernCard {
    margin-bottom: 16px;
    margin-top: 2em
}

.title {
    color: #FDFEFE;
    text-align: center;
    margin: 0;
}

a {
    color: #FDFEFE;
    text-decoration: none;
    width: 100%;
}

.logo {
    width: 85px;
    height: 80px;
    margin-left: 7em;
    margin-top: 2rem;
    transition: transform .3s;
    display: inline-flex;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

h1 {
    margin: 0;
    padding-left: .5em;
}
