/* For Mobile Portrait View */
@media screen and (min-device-width: 320px) and (max-device-width: 365px) and (orientation: portrait) {
    .logo {
        width: 25px !important;
        height: 25px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 2rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

@media screen and (min-device-width: 370px) and (max-device-width: 380px) and (orientation: portrait) {
    .logo {
        width: 30px !important;
        height: 30px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 7rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

@media screen and (min-device-width: 380px) and (max-device-width: 395px) and (orientation: portrait) {
    .logo {
        width: 35px !important;
        height: 36px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 3rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

@media screen and (min-device-width: 400px) and (max-device-width: 540px) and (orientation: portrait) {
    .logo {
        width: 40px !important;
        height: 45px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 2rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

@media screen and (min-device-width: 550px) and (max-device-width: 900px) and (orientation: portrait) {
    .logo {
        width: 100px !important;
        height: 80px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 4.1rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

@media screen and (min-device-width: 901px) and (max-device-width: 920px) and (orientation: portrait) {
    .logo {
        width: 110px !important;
        height: 90px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 4.1rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

@media screen and (max-device-width: 920px) and (orientation: landscape) {
    .logo {
        width: 40px !important;
        height: 40px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 4.1rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

@media screen and (min-device-width: 1020px) and (max-device-width: 1368px) and (orientation: landscape) {
    .logo {
        width: 110px !important;
        height: 80px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        margin-top: 1rem !important;
    }
    .westernCard {
        margin-bottom: 4.1rem !important;
    }
    .easternCard {
        margin-top: 1.5rem;
    }
}

.main {
    margin-top: 1em;
}

mat-card {
    color: #FDFEFE;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    text-align: center;
}

.mat-card-title {
    font-size: 10px;
    margin-bottom: 0;
}

.westernCard {
    margin-bottom: 16px;
    margin-top: 2em
}

.title {
    color: #FDFEFE;
    text-align: center;
    margin: 0;
}

a {
    color: #FDFEFE;
    text-decoration: none;
    width: 100%;
}

.logo {
    width: 90px;
    height: 85px;
    margin-left: 6em;
    margin-right: 6rem;
    margin-top: 2rem;
    transition: transform .3s;
    display: inline-flex;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

h1 {
    margin: 0;
    padding-left: .5em;
}
