<p-carousel [value]="gameList" styleClass="custom-carousel" [numVisible]="3" [numScroll]="2" [circular]="true" [autoplayInterval]="7500" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h5>Result of the night</h5>
    </ng-template>
    <ng-template ngFor let-game [ngForOf]="gameList" pTemplate="item">
        <div class="container">
            <div class="row">
                <div class="rowContainer">
                    <div class="col-md-auto awayTeamContainer">
                        <img class="logo" src="{{ game.otherAwayGameInfos }}" />
                        <p class="teamName">{{ game.GameInformations.Game.AwayTeam}}</p>
                        <p class="score">{{ game.GameInformations.Game.AwayTeamScore}}</p>
                    </div>
                    <div class="winnerTeam" *ngIf="game.GameInformations.Game.AwayTeamScore > game.GameInformations.Game.HomeTeamScore">
                        <mat-icon class="winnerArrow">arrow_left</mat-icon>
                        <p>Finished</p>
                    </div>
                    <div class="winnerTeam" *ngIf="game.GameInformations.Game.AwayTeamScore < game.GameInformations.Game.HomeTeamScore">
                        <p>Finished</p>
                        <mat-icon class="winnerArrow">arrow_right</mat-icon>
                    </div>
                    <div class="col-md-auto homeTeamContainer">
                        <img class="logo" src="{{ game.otherHomeGameInfos }}" />
                        <p class="teamName">{{ game.GameInformations.Game.HomeTeam}}</p>
                        <p class="score">{{ game.GameInformations.Game.HomeTeamScore}}</p>
                    </div>
                </div>
                <div>
                    <div class="example-button-row">
                        <button mat-stroked-button color="accent">Away</button>
                        <button mat-stroked-button color="accent">Home</button>
                      </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>