.container {
    .row {
        border: 1px solid var(--surface-d);
        // border-radius: 3px;
        margin: .3rem;
        // text-align: center;
        padding: 2rem 0;
        display: flex;
        justify-content: space-around;
    }
}

p {
    color: black;
}

h5 {
    margin-top: 30px;
    margin-bottom: 28px;
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.logo {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.homeTeamContainer {
    text-align: center;
}

.awayTeamContainer {
    text-align: center;
}

.teamName {
    font-style: italic;
}

.score {
    font-weight: bold;
}